*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: rgba(238, 130, 238, 0.6);
}

.contenedor-principal{
    width: 70%;
    height: 100vh;
    margin: 0 auto;
}

header .menu{
    width: 100%;
    background: rgba(21, 64, 119, 0.829);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    position: relative;
}

.menu .menu-principal a, .top-redes a{
    display: inline-block;
    padding: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.top-redes a i{
    font-size: 1rem;
}

.menu .menu-principal a:hover, .top-redes a:hover{
    color:rgba(21, 64, 119, 0.829);
    transform: scale(1.01,1.01);
    transition: all .1s ease;
    background: rgb(255, 255, 255);;
}

.main{
    width: 100%;
}

section .banner-principal .banner{
    width: 100%;
    height: 90vh;
    background-image: url(../banner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.articulos{
    width: 100%;
    background: white;
}

.articulos .texto{
    padding: 10px;
    text-align: left;
    align-items: center;
}

.articulos .texto h2{
    margin: 20px;
}

.articulos .texto p{
    margin: 20px;
}

footer{
    background: black;
    padding: 20px;
    text-align: center;
}

footer div p{
    color: rgba(206, 5, 8, 0.7);
    font-size: 1rem;
    margin-bottom: 10px;
}

footer .footer-redes{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer .footer-redes a{
    color: rgba(204, 5, 9, 0.7);
    transition: all .2s ease;
    display: inline-block;
    padding: 10px;
}

footer .footer-redes a i{
    font-size: 1.5rem;
}

footer .footer-redes a:hover{
    color:black;
    transition: all .1s ease;
    background: rgba(204, 5, 9, 0.7);
}

@media screen and (max-width:831px){

    .menu .menu-principal a, .top-redes a{
        padding: 10px 5px;
        font-size: .9rem
    }

    .articulos .texto{
        width: 100%;
    }

    .articulos .texto h2{
        text-align: center;
    }

    .articulos .texto p{
        text-align: center;
        justify-content: center;
    }
}

@media screen and (max-width:588px){

    header .menu{
        width: 100%;
        text-align: center;
        height: 23px;
    }
    

    .menu .menu-principal a, .top-redes a, .top-redes a {
        padding: 5px 3px;
        font-size: .6rem;
        vertical-align: middle;
    }

    .top-redes a i{
        font-size: .6rem;
    }

}